
.main {
    margin-left: 300px; /* Same width as the sidebar + left position in px */
    font-size: 15px;
    padding: 0px 10px;
    font-family: 'Oswald';font-size: 22px;
    color: #black;
    text-align: center;
}

.mt-0 {
  margin-top: 0 !important;
  margin-bottom: 0
}

.mb-0{
  margin-bottom: 0 !important;
  margin-top: 0
}

#backgroundjumbotron{
  background-color: #81c0a8;
  height: 10px;
}

.h1{
  color: black;
  font-family: 'Oswald';font-size: 40px;

}

.p1{
  color: white;
  font-style: italic;
  font-family: 'Oswald';font-size: 20px;

}

.jumbotron{
  padding: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#headerPage{
  color: black;
  font-family: 'Oswald';font-size: 22px;
  background-color: #81c0a8;
  margin-bottom: 0
}

.side{
  font-family: 'Oswald';font-size: 10px;

}
.btn-primary{
  color: black;
}

#headjumbo{
  background-color: black;
  background-image: url(../img/joel.jpg);
}

#contentrow{
  border-style: solid;
  color: black;
  background-color: #81c0a8;
}

#output{
  font-family: 'Oswald';font-size: 22px;
}


#aboutping{
background-color: #81c0a8;
color: black;
}

.container{
  margin-left: 0;
}
