
.main {
    margin-left: 250px; /* Same width as the sidebar + left position in px */
    font-size: 15px;
    padding: 0px 10px;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0{
  margin-bottom: 0 !important;
}

#backgroundjumbotron{
  background-color: blue;
  background-image: url(../img/pingpong.jpg)
}

.h1{
  color: black;

}

.p1{
  color: beige;
  font-style: italic;

}

.jumbotron{
  padding: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
