
.main {
    margin-left: 300px; /* Same width as the sidebar + left position in px */
    font-size: 15px;
    padding: 0px 10px;
    font-family: 'Oswald';font-size: 22px;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0{
  margin-bottom: 0 !important;
}

#backgroundjumbotron{
  background-color: blue;
  background-image: url(../img/tennistable.gif)
}

.h1{
  color: white;
  font-family: 'Oswald';font-size: 22px;

}

.p1{
  color: white;
  font-style: italic;
  font-family: 'Oswald';font-size: 22px;

}

.jumbotron{
  padding: 150px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

#headerPage{
  color: blue;
  font-family: 'Oswald';font-size: 22px;

}

.side{
  font-family: 'Oswald';font-size: 10px;

}
.btn-primary{
  color: black;
}

#contentrow{
  background: red; /* For browsers that do not support gradients */
    background: linear-gradient(to bottom right, red, yellow); /* Standard syntax (must be last) */
}
